ETHERSCAN_API_KEY=
PRIVATE_KEY=
INFURA_API_KEY=

# Network Configuration
VITE_SUPPORTED_CHAINS=11155111,137

# Factory Addresses
VITE_FACTORY_ADDRESS_11155111=0xd246eeb98c025047cd4099190aaa9922b34d47e9
VITE_FACTORY_ADDRESS_137=0x5949e4305c6299cde26c02d9fa80a5107f64afa7

# Chain Fees
VITE_CHAIN_FEES=0.02,20

# NFT Implementation Addresses - Sepolia
VITE_NFT721_IMPLEMENTATION_SEPOLIA=0x67a7e96c3f5843c3e5182c8e228d9435cdbbfb78
VITE_NFT1155_IMPLEMENTATION_SEPOLIA=0x2babf73a84eb3a80b0f4612d9570542557991124
VITE_NFT_FACTORY_SEPOLIA=0x17fEA90a42CA9bDb6dFF706A5466b5773CAf1e14

# NFT Implementation Addresses - Polygon (Add these when deploying to Polygon)
VITE_NFT721_IMPLEMENTATION_POLYGON=
VITE_NFT1155_IMPLEMENTATION_POLYGON=
VITE_NFT_FACTORY_POLYGON=

# Token Addresses - Sepolia
VITE_USDC_ADDRESS_SEPOLIA=0x1c7D4B196Cb0C7B01d743Fbc6116a902379C7238
VITE_USDT_ADDRESS_SEPOLIA=0xaA8E23Fb1079EA71e0a56F48a2aA51851D8433D0

# Token Addresses - Polygon
VITE_USDC_ADDRESS_POLYGON=0x2791Bca1f2de4661ED88A30C99A7a9449Aa84174
VITE_USDT_ADDRESS_POLYGON=0xc2132D05D31c914a87C6611C10748AEb04B58e8F

# API Keys and Secrets (Replace these with your own)
VITE_PINATA_JWT=your_pinata_jwt_here
VITE_WALLET_CONNECT_PROJECT_ID=your_wallet_connect_project_id_here