# Dependencies
node_modules
.env

# Hardhat
cache
artifacts
typechain
typechain-types

# Deployment
deployments

# IDE
.vscode
.idea

# Logs
logs
*.log

# OS
.DS_Store

# Uniswap v2 core and periphery original repos
uniswap-v2-deployment/v2-core/.git
uniswap-v2-deployment/v2-periphery/.git

# Coverage
coverage
coverage.json

# Local Hardhat files
hardhat.config.local.js

# Local Netlify folder
.netlify

